#dropdown{
    background-color: rgb(0, 3, 44);
}
#Menu{
    background-color: rgb(0, 3, 44);
}
/*
body{
    background-color: rgb(235, 235, 235);/*rgb(227, 227, 227)*//*
}
*/
#galeria{
    border-radius: 5%;
    border: rgb(199, 199, 199) 1px solid;
}
.linea{
    background-color:white;
    height:1px;
    margin-top:15px;
}
.autor{
    margin-top:25px;
}

.containerSidebar{
    background-color: rgba(0, 3, 44,.96);
    min-height: calc(100vh - 56px);
    max-height: calc(100vh - 56px);
    /* max-width: 167px; */
    padding: 12px 15px 0px 22px;
    display: flex;
    justify-content: center;
}

.containerSection{
    min-height: calc(100vh - 56px);
    max-height: calc(100vh - 56px);
    overflow-y: auto;
    padding-top: 16px;
}

@media (max-width:500px) 
{
    .containerSection{
        min-width: 100vw;
        max-width: 100vw;
    }
}

.containerSidebar li {
    color: #fff;
    list-style: none;
    text-decoration: none;
    padding: 5px 0;
    padding-left: 4px;
}

.containerSidebar li a{
    color: #FFF;
    text-decoration: none;
}

.containerSidebar .subList.collapsed{
    border-left: 0;
}

.containerSidebar li:hover,
.containerSidebar li.active .subList
{
    border-left: 2px solid #FFF;
    padding-left: 4px;
}

.containerSidebar li:hover.active
{
    border-left: 0;
    padding-left: 0;
}
.bi.bi-key-fill{
    color:red;
    font-size:25px;
}
.bi.bi-bar-chart-fill{
    color:blue;
    font-size:25px;
}
.bi.bi-book{
    color:green;
    font-size:25px;
}


.tagMateria{
    background-color: dodgerblue;
    color: #fff;
    border-radius: 7px;
    padding: 4px;
    margin: 2px;
    display: grid;
    place-content: center;
    font-size: 14px;
    font-weight: 600;
}

#datos tr{
    border-color: 1px solid black;
}

.imagenNoticia{
    height: 186px;
}

.descripcionNoticia{
    max-height: 70px; 
    min-height: 70px;
    overflow-y: auto;
    margin-bottom: 5px;
}

.fechaNoticia{
    margin-bottom: 0px;
}

.noticia{
    max-height: 350px;
    min-height: 350px;
}

.card-header{
    border-bottom: none !important; 
}

.iconFuter{
    font-size: 27px;
    margin-top:15px;
    margin-left: 5px;
}
#mensajePassword{
    font-size: 14px;
}
#mensajeContraseña{
    font-size: 14px;
}

@media (max-width:500px) 
{
    #futer h6{
        font-size: 10px;
    }
    #futer p{
        font-size: 10px;
    }
    p{
        font-size: 10px;
        margin: 5px;
    }
    .nav-link{
        font-size: 10px;
        padding: 5px;
    }
    .dropdown-menu{
        font-size: 10px;
        padding: 0px !important;
        margin: 2px !important;
    }
    .dropdown-items{
        font-size: 10px;
        padding: 2px !important;
        margin: 0px !important;
    }
    .texto_alucivo{
        margin: 1px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .descripcionNoticia{
        max-height: 50px; 
        min-height: 50px;
        overflow-y: auto;
    }
    .noticia{
        max-height: 280px;
        min-height: 280px;
    }
    .imagenNoticia{
        height: 150px;
    }
    .bi{
        font-size: 20px;
        margin-top:15px;
        margin-left: 5px;
    }
    .autor{
        margin-top:8spx;

    }
    label{
        font-size: 14px;
    }
    #mensajePassword{
        font-size: 12px;
    }
    #mensajeContraseña{
        font-size: 12px;
    }
}